table{
  width: 600px;
  height: 400px;
  margin: 150px auto 0 auto; /* 가운데 정렬 */
  border: 1px solid #e0e0e0;
  margin-bottom: 120px;
  margin-top: 100px;
  background-color: #ffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
}
.link_wrap{
	text-align:center;
}
.text{
	font-size: 19px;
	font-weight: 500;
	position: relative;
	text-align: center;
	top: 30px;
}

.backlogin{
	text-align: center;
}

.btn{
	position: relative;
	width: 350px;
	height: 50px;
	background-color: #555;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
	top: 10px;
}
.btn:hover{
	cursor: pointer;
}
.link{
	color: #444;
}