

.fake-check:hover {
  cursor: pointer;
}

/* 기존 체크박스 숨기기 */
#ol_check {
  display: none;
}

/* 기본 박스 */
.custom-check {
/*  display: inline-block;*/
  width: 17px;
  height: 17px;
  border: 1px solid #999;
  border-radius: 20px;
  margin-right: 8px;
  position: relative;
  box-sizing: border-box;
  right: 143px;
}

/* 항상 체크 표시 보이게 */
.custom-check::after {
  content: '✓';
  color: #777;
  position: absolute;
  left: 4px;
  bottom: 2px;
  font-size: 8px;
  font-weight: 900;
}

.custom-check,
.chek_text {
  display: inline-block;
  vertical-align: middle;
  top: 13px;
}

.chek_text {
  color: #858585;
  top: 13px;
  position: relative;
  right: 143px;
  font-size: 14px;
}

/* 체크 시 색상 강조 */
.fake-check input:checked+.custom-check {
  background-color: #999;
  border-color: #999;
}

.fake-check input:checked+.custom-check::after {
  color: white;
  /* 체크 시 흰색으로 변경 */
}

.table1 {
	  width: 450px;
	  height: 500px;
	  margin: 150px auto 0 auto; /* 가운데 정렬 */
	  border: 1px solid #e0e0e0;
/*	  border-radius: 6px;*/
	  text-align: center; /* 내부 텍스트도 중앙정렬 */
	  margin-bottom: 200px;
	  margin-top: 200px;
	  background-color: #ffff;
	  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
	
}

.table1 tr:first-child {
  height: 60px; 
}
.table1 tr:first-child td {
  padding-top: 2px;   /* 위 여백 줄이기 */
  /* padding-bottom: 50px; 아래 여백 줄이기 */
}

/* 로그인 버튼 */
#login {
  border-radius: 5px;
  width: 90%;
  height: 60px;
  border: none;
  background-color: #9999;
  color: black;
  font-size: large;
  text-align: center;
  margin-top: -19px;
}
#login2 {
  border-radius: 5px;
  width: 90%;
  height: 60px;
  border: none;
  background-color: #9999;
  color: black;
  font-size: large;
  text-align: center;
  margin-top: -19px;
}

/* 로그인 버튼 */
#login:hover {
  background-color: #999;
  cursor: pointer;
}

.login_btn {
  padding-left: 28px;
}

/* 로그인 버튼 */
#login2:hover {
  background-color: #999;
  cursor: pointer;
}

/* 입력창 */
.mem {
  position: relative;
  top: 30px;
  width: 90%;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: large;
  padding-left: 12px;
  margin-bottom: -15px;
  margin-top: -15px;
	
}

/* 테이블 내부선 제거 */
.table1 tr td{
  border: none;
  padding: 10px;
  
}

.tab-cell {
  position: relative;
  text-align: center;
  right: 7px;
}


.pw_text{
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  border-top: none;
  display: inline-block;
  /* width: 235px; */
  padding: 20px;
  bottom: 5px;
  right: 19px;
}

/* 회원 로그인 스타일*/
.id_text {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  width: 230px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-left: none;
/*  border-top-right-radius: 6px;*/
  border-bottom-right-radius: 4px;
  right: 16px;
  bottom: 4px;
  background-color: #eeeeee;
}
.id_text:hover{
	background-color: #9999;
	box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.03),
	inset -3px 3px 3px rgb(192, 192, 192);
	color: #fff;
}

/* 배경만 뒤로 */
.id_text::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f5f5;
  z-index: -1; /* 배경만 뒤로 */
  border-radius: inherit;
}

.btn{
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  right: 31px;
  color: #333;
}
.btn:hover{
  cursor: pointer;
}

.lockTime {
	position: relative;
	color: red;
	text-align: left;
	font-size: 13px;
	left: 22px;
	bottom: 15px;
}


.td1{
	height: 20px;
	text-align: left;
}

main {
  background-color: #f9f9f9;
  width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cap{
	position: relative;
	bottom: 80px;
	font-weight: 400;
	font-size: 45px;
}

.p1{
	position: relative;
	bottom: 70px;
	font-size: 17px;
}
